.about-us__header {
  @include header-decoration;
  padding-bottom: 7.5%;
  padding-top: 37%;
  margin: 0;
}

.about-us__wrapper {
  box-sizing: border-box;
  background-image: url("../img/bgcphoto.png");
  background-color: #eeefef;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-right: 56%;
  padding-left: 10%;
  padding-bottom: 9%;
}

.about-us__description {
  width: 100%;
  margin: 0;
  font-size: 30px;
  line-height: 54px;
  font-weight: 300;
  text-align: center;
  margin-top: 7%;
  margin-bottom: 7%;
}

.about-us__signature {
  width: 213px;
  background-image: url("../img/signature.png");
  margin-left: 60%;
}