.advantages {
  position: relative;
  width: auto;
  margin: 0;
  padding: 0;
  background-image: url("../img/bgcyellow.png");
}

.advantages__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
}

.advantages__item {
  width: 27%;
  padding-top: 11%;
  text-align: center;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 15%;

  &:nth-child(3n) {
    margin-right: 0;
  }

  &--turnip {
    background-image: url("../img/noodle.png");
  }

  &--betroot {
    background-image: url("../img/water.png");
    background-position-y: 18%;
  }

  &--social {
    background-image: url("../img/sweet.png");
  }
}

.advantages__item-header {
  margin: 0;
  padding: 0;
  padding-bottom: 5%;
  padding-top: 2%;
  text-transform: uppercase;
  font-size: 18px;
}

.advantages__item-description {
  margin: 0;
  padding: 0;
  padding-bottom: 20%;
  width: 100%;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
}