.contacts-form {
  width: 100%;
  margin-bottom: 33%;
}

.contacts-form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
  margin-bottom: 13%;

  div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    input {
      width: 45%;
    }
  }
}

.contacts-form {

  textarea,
  input {
    padding-left: 3%;
    font-style: italic;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
  }
}

.contacts-form__textarea {
  width: 100%;
}

.contacts-form__submit-btn {
  @include button-reset;
  border: 1px solid black;
  padding-top: 2%;
  padding-bottom: 2%;
  display: block;
  width: 16%;
  margin: 0 auto;
  margin-top: 8%;
  cursor: pointer;

  &:hover {
    color: #fff;
    background-color: black;
  }

  &:active {
    opacity: 0.5;
  }
}

.contacts-form__header {
  text-transform: uppercase;
  margin-bottom: 5%;
}