.menu__wrapper {
  padding-bottom: 3%;
  padding-top: 3%;
  padding-left: 7%;
  padding-right: 7%;
}

.menu__header {
  @include header-decoration;
  width: 100%;
  margin: 0;
  text-align: center;
  padding-bottom: 3%;
}

.menu__navigation {
  margin-bottom: 5%;
}

.menu__navigation-list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 33%;
  margin: 0 auto;
  margin-top: 3.5%;
  justify-content: space-between;
}

.menu__navigation-item {
  width: 23%;

  &:last-child {
    margin-right: 0;

  }
}

.menu__navigation-link {
  @include link-reset;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding-top: 8%;
  padding-bottom: 6%;
  text-align: center;

  &:hover {
    border: none;
    border-bottom: 1px solid black;
  }

  &--active {
    border: 1px solid black;

    &:hover {
      border: 1px solid black;
    }
  }
}

.menu__menu-list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.menu__menu-item {
  display: flex;
  justify-content: space-between;
  width: 37%;
  flex-wrap: wrap;
}

.menu__item-name,
.menu__item-price {
  font-weight: 300;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.menu__item-name {
  margin-bottom: 0.5%;
}

.menu__item-composition {
  margin-bottom: 5%;

}