.menu__wrapper {
  padding-bottom: 3%;
  padding-top: 3%;
  padding-left: 7%;
  padding-right: 7%;
}

.menu__header {
  @include header-decoration;
  width: 100%;
  margin: 0;
  text-align: center;
  padding-bottom: 3%;
}

.menu__navigation {
  margin-bottom: 5%;
}

.menu__navigation-list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  margin-top: 3.5%;
  justify-content: space-between;
}

.menu__navigation-item {
  width: 20%;

  &:last-child {
    margin-right: 0;
  }
}

.menu__navigation-link {
  @include link-reset;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 6% 5%;
  text-align: center;

  &:hover {
    border: none;
    border-bottom: 1px solid black;
  }

  &--active {
    border: 1px solid black;

    &:hover {
      border: 1px solid black;
    }
  }
}

.menu__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.menu__item {
  display: flex;
  justify-content: space-between;
  width: 40%;
  flex-wrap: wrap;

  span {
    flex-grow: 1;
    border-bottom: 2px dotted #000000;
  }
}

.menu__name,
.menu__price {
  font-weight: 300;
  font-size: 18px;
  margin: 0;
}

.menu__composition {
  width: 100%;
  margin-bottom: 5%;
}