.navigation-list {
  @include list-reset;
  display: flex;
  width: 100%;
  padding-top: 2%;
  justify-content: space-between;
}

.navigation-list__item {
  @include list-reset;
  display: flex;
  width: auto;
  width: 17%;
}

.navigation-list__link {
  @include link-reset;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  padding-top: 15%;
  padding-bottom: 11%;
  text-align: center;

  &:hover {
    border: none;
    border-bottom: 1px solid black;
  }

  &:active {
    opacity: 0.5;
    border-color: rgba(0, 0, 0, 0.5);
  }

  &--active {
    border: 1px solid black;

    &:hover {
      border: 1px solid black;
    }

    &:active {
      opacity: 1;
      border: 1px solid black;
    }
  }
}