.specials__header {
  @include header-decoration;
  margin: 0;
  padding: 0;
  width: 100%;
  padding-bottom: 2.5%;
  padding-top: 4%;
  font-weight: 300;
}

.specials__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  margin: 0 auto;
  margin-top: 3%;
  padding-bottom: 5%;
}

.specials__item {
  display: flex;
  width: 33%;
  text-align: center;
  background: #f8f8f8;
  img {
    width: 50%;
  }

  &:nth-child(4n),
  &:nth-child(5n),
  &:nth-child(6n) {
    .specials__item-wrap {
      order: 0;
    }

    img {
      order: 1;
    }

  }
}

.specials__item-header {
  position: relative;
  font-size: 18px;
  line-height: 30px;
  margin-top: 15%;
  margin-bottom: 8%;

  &::after {
    content: "";
    position: absolute;
    top: 120%;
    left: 33%;
    width: 36%;
    height: 1px;
    background-color: #000;
  }
}

.specials__item-description {
  font-size: 16px;
  font-weight: 300;
}

.specials__item-wrap {
  width: 50%;
  padding: 0 1%;
}